.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.other-menu {
    display: flex;
    gap: 10px;
}
.menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    border-color: black;
}